{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <style>
    #navigation-content{
      display: none;
    }
  </style>
{% endblock stylesheets %}

{% block content %}

{% include "site_template/navigation.html" %}  
  <div class="container-fluid">
    <div class="modal fade" id="modalPatientForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Enter patient details</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form role="form" method="post" action="">
                {{form.hidden_tag()}}
              <div class="modal-body mx-3">

                  <div class="md-form mb-5">
                      <i class="fas fa-user prefix grey-text"></i>
                      {{form.id(placeholder="ID",class="form-control")}}
                  </div>

                  <div class="md-form mb-5">
                      <i class="fas fa-user prefix grey-text"></i>
                      {{form.username(placeholder="Name",class="form-control")}}
                  </div>

                  <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    {{form.email(placeholder="Email",class="form-control")}}
                </div>

                <div class="md-form mb-5">
                  <i class="fas fa-user prefix grey-text"></i>
                  {{form.age(placeholder="Age",class="form-control")}}
                </div>
              </div>
              <div class="modal-footer d-flex justify-content-center">
                  <button class="btn btn-unique" name="create_visit">Submit <i class="fas fa-paper-plane-o ml-1"></i></button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xl-12 mb-5 mb-xl-0">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalPatientForm" style="float:right;">Add patient</a>
                <h1 class="mb-0">Patients</h1>
              </div>
              
            </div>
          </div>
          <div class="table-responsive">
            <!-- Projects table -->
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Patient ID</th>
                  <th scope="col">Patient name</th>
                  <th scope="col">Patient age</th>
                  <th scope="col">Patient visits</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% for patient in patients %}
                <tr id={{patient.id}} class="patient-table">
                  <th scope="row">
                    {{patient.id}}
                  </th>
                  <td>
                    {{patient.username}}
                  </td>
                  <td>
                    {{patient.age}}
                  </td>
                  <td>
                    {{patient.visits}}
                  </td>
                  <td id="patient-view-button"><a href="/patient_details"class="btn btn-sm btn-primary">View</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>

    {% include "site_template/footer.html" %}

  </div>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script>
    $(document).ready(function(){
      var rowList = document.getElementsByClassName("patient-table");
      for (let tr of rowList){
        var id = tr.id;
        for(let td of tr.children){
          if(td.id === "patient-view-button"){
            var a = td.children.item(0)
            a.setAttribute("href","/patient_details?patient_id="+tr.id);
          }
        }
      }
    })
  </script>
{% endblock javascripts %}
