<nav class="navbar navbar-expand-lg navbar-dark bg-gradient-primary navigation-portal">
  <a class="nav-link pr-0" href="/index" role="button" aria-haspopup="true" aria-expanded="false">
    <div class="media align-items-center">
      <span class="avatar avatar-sm rounded-circle">
        <img alt="Image placeholder" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Cerebral_lobes.png/250px-Cerebral_lobes.png">
      </span>
      <div class="media-body ml-2">
        <span class="mb-0 text-xl text-white  font-weight-bold">NeuroTech</span>
      </div>
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navigation-content">
      <li class="nav-item">
        <a class="nav-link" href="/patient_details">Patient Details</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/medical_history">Medical History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/enter_symptoms">Enter symptoms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Records">Records</a>
      </li>
    </ul>
    <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto">
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search" type="text">
        </div>
      </div>
    </form>
  </div>
  <ul class="navbar-nav align-items-center d-none d-md-flex">
    <li class="nav-item dropdown">
      <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="media align-items-center">
          <span class="avatar avatar-sm rounded-circle">
            <img alt="Image placeholder" src="/static/assets/img/theme/team-4-800x800.jpg">
          </span>
          <div class="media-body ml-2 d-none d-lg-block">
            <span class="mb-0 text-sm  font-weight-bold">{{ current_user.username }}</span>
          </div>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
        <div class=" dropdown-header noti-title">
          <h6 class="text-overflow m-0">Welcome!</h6>
        </div>
        <a href="/profile" class="dropdown-item">
          <i class="ni ni-single-02"></i>
          <span>My profile</span>
        </a>
        <a href="/profile" class="dropdown-item">
          <i class="ni ni-settings-gear-65"></i>
          <span>Settings</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="/logout" class="dropdown-item">
          <i class="ni ni-user-run text-red"></i>
          <span>Logout</span>
        </a>
      </div>
    </li>
  </ul>
</nav>